body {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 130vh;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    font-size: 16px;
}
.Faq{
    justify-content: left;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 24px;
    padding-left: 15px;
    margin-bottom: 20px;
    width: 100%; /* Bu hizalamayı sağladı...*/
    text-align: left;
}
.card {
    background-color: white;
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.accordion {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    overflow: hidden;
}

.accordion-header {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    gap: 10px;
    justify-content: space-between;
}
.accordion-header:hover{
    color: hsl(292, 16%, 49%);
}
.accordion-header h5 {
    margin: 0;
    font-size: 12px;
    flex-grow: 1;
    text-align: left;
}

.accordion-content {
    padding: 15px;
    display: none; 
}

.icon img {
    width: 20px;
    height: 20px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media (max-width: 768px) {
    .Faq {
        font-size: 20px; /* Daha küçük ekranlar için font boyutu */
    }

    .card {
        width: 95%; /* Küçük ekranlarda kartın genişliğini artır */
        padding: 15px; /* Küçük ekranlarda padding azalt */
    }

    .accordion-header h5 {
        font-size: 14px; /* Mobil için başlık boyutu */
    }
}

@media (max-width: 480px) {
    .Faq {
        font-size: 18px; /* Daha küçük mobil cihazlar için font boyutu */
    }

    .accordion-header h5 {
        font-size: 12px; /* Daha küçük mobil cihazlar için başlık boyutu */
    }
}